html, body, svg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background: url(img/bg/wood20.jpg);
  background-size: cover;
}


#logo {
  position: absolute;
  animation-delay: 1s;
  animation-name: rotate-cw;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

#logo .bg {
  fill: lightgoldenrodyellow;
  animation: fill-pulse-yellow 10s 1;
}

@keyframes fill-pulse-yellow {
  0% {
    fill: lightgoldenrodyellow;
  }
  5% {
    fill: yellow;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: lightgoldenrodyellow;
  }
}


#logo text:last-child {
  position: absolute;
  transform: rotate(-180deg) translate(0,-25px);
  animation-delay: 3.5s;
  animation-name: rotate-ccw;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logo text {
  color: white;
  fill: black;
  font: 900 x-large ImpactLabelReversed, monospace;
}


#drawer, #save-button, #tempo-dial {
  position: absolute;
}

.slow-fade-in {
  opacity: 0;
  animation: fade-in 1s linear 5s forwards;
}

.slow-fade-in-stage-2 {
  opacity: 0;
  animation: fade-in 1s linear 7s forwards;
}

.slow-fade-in-stage-3 {
  opacity: 0;
  animation: fade-in 1s linear 10s forwards;
}

.fading-fill-children > * {
  transition-property: fill, stroke;
  transition-duration: 3s;
}

.fading-fill-children:hover > * {
  transition-property: fill, stroke;
  transition-duration: .1s;
}

.dial .bg {
  fill: gray;
}

.dial .reading {
  fill: lightgray;
}

.dial .hover {
  fill: lightgray;
}

.dial:hover .bg {
  fill: darkred;
}

.dial:hover .reading {
  fill: orange;
}

.dial:hover .hover {
  fill: yellow;
}

.dial text {
  stroke: orange;
  stroke: darkorange;
  color: darkorange;
  font: 13px monospace;
  letter-spacing: -2px;
}

.dial:hover text {
  stroke: orange;
}

.dial text.preview {
  stroke: yellow;
}

#drawer {
  overflow: auto;
  transition-duration: 1s;
  transition-property: all;
  margin: 0;
  padding: 0;
  border: 0 solid black;
  background-color: rgba(255, 255, 255, .25);
}


#pattern-name {
  position: absolute;
}
#pattern-name .bg {
  fill: pink;
}

#pattern-name:hover .bg {
  fill: lightpink;
}


#pattern-name textPath {
  stroke: 1;
  color: white;
  font: x-small courier;
  font-weight: 400;
}
#pattern-name #scale-current {
  font: xx-small courier;
}
#pattern-name image {
  display: none;
}
#pattern-name:hover image {
  fill: white;
  display: block;
}


@media (orientation: landscape) {

  body {
    min-width: 134vh;
  }
  #pattern-name {
    left: 3vh;
    top: 81vh;
    width: 15vh;
    height: 15vh;
  }

  #logo {
    top:0vh;
    left:0vh;
    width: 19vh;
    height: 19vh;
  }

  #editor {
    width: 100vh;
    height: 100vh;
    top: 0;
    margin-left: 2vh;
  }

  #tempo-dial {
    top: 9vh;
    left: 91vh;
    height: 19vh;
    width: 19vh;
  }

  #play-pause {
    top: 1vh;
    left: 81vh;
    width: 12vh;
    height: 12vh;
  }

  #save-button {
    height: 9vh;
    width: 9vh;
    left: 107vh;
    top: 1vh;
  }

  #delete-all-btn {
    position: absolute;
    left: 109vh;
    bottom: 1vh;
    height: 7vh;
    width: 7vh;
  }

  #permalink-button {
    position: absolute;
    left: 91vh;
    top: 78vh;
    height: 9vh;
    width: 9vh
  }

  #drawer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 19vh;
    width: auto;
    border-left-width: 0px;
    left: 117vh;
  }

  #drawer:empty {
    width: 0;
  }

}

@media (orientation: portrait) {
  body {
    /*min-height: 137vh;*/
  }
  #editor {
    width: 98vw;
    height: 98vw;
    margin-top: 12vw;
    margin-left: 0;
  }

  #pattern-name {
    left: 58vw;
    top: 0;
    width: 15vw;
    height: 15vw;
  }

  #logo {
    top:5vw;
    left:5vw;
    width: 19vw;
    height: 19vw;
  }

  #tempo-dial {
    top: 4vw;
    left: 71vw;
    height: 19vw;
    width: 19vw;
  }

  #play-pause {
    top: 1vw;
    left: 46vw;
    width: 12vw;
    height: 12vw;
  }

  #save-button {
    left: 1vw;
    top: 105vw;
    height: 9vw;
    width: 9vw;
  }

  #delete-all-btn {
    position: absolute;
    top: 108vw;
    right: 1vw;
    height: 7vw;
    width: 7vw;
  }

  #permalink-button {
    position: absolute;
    top: 21vw;
    left: 84vw;
    height: 9vw;
    width: 9vw;
  }


  #drawer {
    top: 116vw;
    height: auto;
    width: 100%;
    border-top-width: 0px;
  }

  #drawer:empty {
    width: 0;
  }
}

#drawer li {
  position: relative;
  display: block;
  margin: 5px;
  padding: 0;
  float: left;
  z-index: 0;
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1.0}
}

@keyframes rotate-ccw {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotate-ccw-9oclock {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotate-cw-9-oclock {
  from { transform: rotate(-90deg); }
  to { transform: rotate(270deg); }
}
@keyframes rotate-cw {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#drawer li a.pattern {
  z-index: 10;
  cursor: zoom-in;
  opacity: 0.7;
  transition: opacity 1s;
}

#drawer li a.pattern:hover {
  opacity: 1.0;
}

#drawer li a.delete-pattern {
  z-index: 100;
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 26px;
  padding: 2px;
  height: 26px;
  opacity: 0;
  line-height: 0;
}

#drawer li:hover a.delete-pattern {
  opacity: 0.9;
}

#drawer li a.delete-pattern:hover {
  cursor: zoom-out;
  opacity: 1.0;
}

#drawer li .name {
  z-index: -10;
  display: none;
  position: absolute;
  top: -12%;
  left: -12%;
  width: 124%;
  height: 124%;
  font: xx-large monospace;
  animation-name: rotate-ccw;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#drawer li:hover .name {
  display: block;
}


.button .bg {
  fill: lightgray;
}

.button:hover .bg {
  fill: lightblue;
}

.button .btn {
  fill: gray;
  stroke: gray;
  stroke-width: 1px;
}

.button:hover .btn {
  fill: deepskyblue;
  stroke: lightblue;
}

.button .btn.stroked {
  fill: none;
  stroke: gray;
  stroke-width: 4;
}

.button:hover .btn.stroked {
  fill: none;
  stroke: deepskyblue;
}



#play-pause {
  position: absolute;
  cursor: pointer;
}

#play-pause.playing .play {
  display: none;
}

#play-pause.paused .pause {
  display: none;
}


.wheel .bg {
  fill: url(#rgrad-purple);
  stroke: darkslategray;
  stroke-width: 1px;
}

.wheel.harmonicMinor .bg {
  fill: url(#rgrad-sea-green);
}

.wheel.blues .bg {
  fill: url(#rgrad-dark-blue);
}

.wheel.major .bg {
  fill: url(#rgrad-yellow);
}

.wheel.majorTriad .bg {
  fill: url(#rgrad-sun);
}

.wheel.perfect .bg {
  fill: url(#rgrad-pink);
}

.wheel.fifths .bg {
  fill: url(#rgrad-purple);
}

.wheel.chromatic .bg {
  fill: url(#rgrad-lime-green);
}

.wheel.continuous .bg {
  fill: url(#rgrad-blue-glow);
}

.wheel.octaves .bg {
  fill: url(#rgrad-b-and-w);
}

