html, body, svg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background: url(img/bg/wood20.jpg);
  background-size: cover;
}

#drawer, #ms-per-period, #save-button, #tempo-dial {
  position: fixed;
}

#tempo-dial {
  height: 100px;
  width: 100px;
  top:0;
  left:0
}

#drawer {
  overflow: auto;
  transition-duration: 1s;
  transition-property: all;
  margin: 0;
  padding: 0;
  border: 0 solid black;
  background-color: rgba(255,255,255, .25);
}

@media (orientation: landscape) {
  #play-pause {
    right: 300px;
    top: 8px;
  }

  #ms-per-period {
    top: 13px;
    right: 150px;
  }

  #save-button {
    top: 10px;
    right: 125px;
  }

  #drawer {
    right: 0;
    top: 0;
    height: 100%;
    width: 115px;
    border-left-width: 0px;
  }

  #drawer:empty {
    width: 0;
  }

  #scale {
    bottom: 10px;
    left: 10px;
  }


  #scale-current {
    top: -21px;
    left: 0;
  }

}

@media (orientation: portrait) {
  #play-pause {
    right: 10px;
    top: 10px;
  }

  #ms-per-period {
    bottom: 128px;
    right: 10px;
  }

  #save-button {
    left: 10px;
    bottom: 125px;
  }

  #scale {
    right: 10px;
    bottom: 130px;
  }
  #scale-current {
    right: 0;
    top: -20px;
  }


  #drawer {
    right: 0;
    bottom: 0;
    height: 115px;
    width: 100%;
    border-top-width: 0px;
  }

  #drawer:empty {
    width: 0;
  }
}

#drawer li {
  position: relative;
  display: block;
  margin: 5px;
  padding: 0;
  float: left;
}

#drawer li a {
  cursor: zoom-in;
  opacity: 0.7;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: opacity 1s, width 2s, height 2s, background-color 2s, transform 2s;
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(3deg);
  }
  50% {
    -ms-transform: rotate(-3deg);
  }
  100% {
    -ms-transform: rotate(3deg);
  }
}

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(-3deg);
  }
  100% {
    -moz-transform: rotate(3deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

#drawer li a:hover:not(.delete) {
  -ms-animation: wiggle .3s 2;
  -moz-animation: wiggle .3s 2;
  -webkit-animation: wiggle .3s 2;
  animation: wiggle .3s 2;
  opacity: 1.0;
  /*-webkit-transform: rotate(180deg);*/
  /*transform: rotate(180deg);*/
}

#drawer li a.delete {
  position: absolute;
  top: -4px;
  right: 0;
  border: 2px solid mediumpurple;
  color: mediumpurple;
  width: 20px;
  padding: 2px;
  height: 20px;
  opacity: 0;
  line-height: 0;
}

#drawer li:hover a.delete {
  opacity: 0.9;
}

#drawer li a.delete:hover {
  cursor: zoom-out;
  opacity: 1.0;
}

a.button {
  color: beige;
  text-decoration: none;
  cursor: move;
  font-size: 20px;
}

a.button:hover {
  color: white;
}

#play-pause {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  height: 48px;
  width: 48px;
  background-color: lightblue;
  border-radius: 50%;
}
#play-pause > span {
  padding: 12px;
  line-height: 50px;
}

#play-pause.playing .play {
  display: none;
}

#play-pause.paused .pause {
  display: none;
}

#scale {
  position: absolute;
}

#scale > input {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}

#scale-current {
  position: absolute;
  display: inline-block;
  color: black;
  font: 20px ImpactLabelRegular, monospace;
  padding: 0;
  background-color: white;
}


input[type="radio"] {
  display:none;
}
input[type="radio"] + label {
  color: darkred;
  font-family:Arial, sans-serif;
  font-size:14px;
}
input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label span {
  background-color: purple;
}

input[type="radio"]:checked + label span{
  background-color: mediumpurple;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

.wheel .bg {
  fill: url(#grad1);
  xfill: url(#rgrad-black-steps);
  xfill: url(#rgrad-forrest);
  stroke:darkslategray;
  stroke-width: 1px;
}

